<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gig</title>
  </head>
  <body>
    <h1>{{gig.bandName}} @ {{gig.venueName}}</h1>
    {{gig.date}}
    <br>
    {{gig.bandName}}
    <br>
    {{gig.description}}
    <br>
     <a href="{{gig.URL}}">{{gig.venueName}}</a>
    <br>
    <a href="/"><button>back</button></a>
  </body>
</html>
